proposta-2/.vscode
proposta-2/delirium
proposta-2/dlib-19.10
proposta-2/fotos
proposta-2/imagens
proposta-2/recursos
proposta-2/relogios_teste
proposta-2/relogios_teste2
proposta-2/relogios_treinamento
proposta-2/yalefaces